<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css and script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- local css file -->
    <link rel="stylesheet" href="/static/css_utils.css">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>{% block title%} {% endblock %}</title>
</head>
<body>

<section class="page">
    <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark zindex-11 bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="/home">UniSource</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarOptions">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4 fs-5">
                    <a class="nav-link {{'active'  if active_link == 'home'  else ''}}" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown mx-4 fs-5">
                    <a class="nav-link dropdown-toggle {{'active'  if active_link == 'year'}}" href="#" id="yearDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Year
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('branch_fxn',year='fy')}}">F.Y</a></li>
                        <li><a class="dropdown-item" href="{{url_for('branch_fxn',year='sy')}}">S.Y</a></li>
                        <li><a class="dropdown-item" href="{{url_for('branch_fxn',year='ty')}}">T.Y</a></li>
                        <li><a class="dropdown-item" href="{{url_for('branch_fxn',year='ly')}}">L.Y</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Passed out</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-4 fs-5">
                    <a class="nav-link {{'active'  if active_link == 'faqs' else ''}}" href="{{url_for('faqs_fxn')}}">FAQ's</a>
                </li>
                <li class="nav-item mx-4 fs-5">
                    <a class="nav-link {{'active'  if active_link == 'contact' else ''}}" href="{{url_for('contact_fxn')}}">Contact Us</a>
                </li>
            </ul>
            <ul class="list-unstyled me-2 mb-0 d-flex">
                
                <li class="ms-2">
                    <a href="{{url_for('profile_fxn')}}" class="btn btn-sm  btn btn-outline-light">💫My Profile💫</a>
                </li>
                
                <li class="ms-2">
                    <a href="{{url_for('logout_fxn')}}" class="btn btn-sm  btn btn-outline-light">Log out</a>
                </li>

                

            </ul>
            
        </div>
    </div>
</nav>

    {% block content %} {% endblock %}

</section>
</body>
</html>