{% extends "base_template.html" %}
{% block title %}{{year}} Branches {% endblock %} 
{% set active_link = 'year' %}
{% block content %}

<div class=" text-center mt-4">
    <h3 class="text-light">Hi! {{year}} student</h3>
    <h4 class="text-light">Please select your Branch to continue 😉</h4>
    <div class="branches d-flex flex-column mt-4">
        <a href="{{url_for('resource_fxn',branch='COMPS')}}" class="btn options btn-light">Computer Engineering</a>
        <a href="{{url_for('resource_fxn',branch='IT')}}" class="btn options btn-light">Information Technology</a>
        <a href="{{url_for('resource_fxn',branch='EXCP')}}" class="btn options btn-light">Electronic and Computer Programming</a>
        <a href="{{url_for('resource_fxn',branch='MECH')}}" class="btn options btn-light">Mechanical Engineering</a>
    </div>
</div>


{% endblock %}
