{% extends "base_template.html" %}
{% set active_link = 'contact' %}
{% block title %}Feedback/Contact US{% endblock %}

{% block content %}

<div class="container  d-flex justify-content-center align-items-center mt-4">
    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <h2 class="text-light heading_bg">Facing Problem ? or Have any feedback</h2>
    <p class="fs-4 text-light heading_bg">Feel free to reach us by filling the form below🥰</p>
    <form method="post" action="https://formspree.io/f/xlekogaw" class="w-50" >
            <div class="content p-5">
            <div class="mb-3 ">
                <label for="userID" class="form-label text-light heading_bg">NAME</label>
                <input type="text" class="form-control" name="userName" placeholder="enter your name" required>
            </div>
            <div class="mb-3 ">
                <label for="userID" class="form-label text-light heading_bg">USER ID</label>
                <input type="text" class="form-control" name="userID" placeholder="enter your user ID" required>
            </div>
            <div class="mb-3 ">
                <label for="userEmail" class="form-label text-light heading_bg">Contact No</label>
                <input type="number" class="form-control" name="userContact" placeholder="enter your contact no" required>
            </div>
            <div class="mb-3 ">
                <label for="userID" class="form-label text-light heading_bg">Feedback or Problem</label>
                <textarea class="form-control" name="userFeedback" cols="20" rows="4" placeholder="describe your problem / give your valuable feedback" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
        </form>
    </div>
</div>


{% endblock %}