{% extends "base_template.html" %}
{% set active_link = 'home' %}
{% block title %}UniSource{% endblock %}

{% block content %}

<div><h1 class="text-light heading_bg mt-4">Welcome {{student_name}}</h1></div>
<div class="containerCenterAll container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-3 col-sm my-2">
            <div class="card boxShadow" style="width: 18rem;height:250px;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body text-center d-flex flex-column align-items-center ">
                  <h5 class="card-title">First year</h5>
                  <p class="card-text">Year filled with a lots of excitment , expectations and dreams. The Year to Explore College and Opportunities</p>
                  <a href="{{url_for('branch_fxn',year='FY')}}" class="btn btn-dark mt-auto w-50">Select Branch</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm my-2">
            <div class="card boxShadow" style="width: 18rem;height:250px;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Second year</h5>
                  <p class="card-text">Year where you actually get a feel of what is engineering and the reality starts hitting you.</p>
                  <a href="{{url_for('branch_fxn',year='SY')}}" class="btn btn-dark mt-auto w-50">Select Branch</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm my-2">
            <div class="card boxShadow " style="width: 18rem;height:250px;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Third year</h5>
                  <p class="card-text">Year filled with Internships, Hackathons, Mega Projects and much more.</p>
                  <a href="{{url_for('branch_fxn',year='TY')}}" class="btn btn-dark mt-auto w-50">Select Branch</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm my-2">
            <div class="card boxShadow" style="width: 18rem;height:250px;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body text-center d-flex flex-column align-items-center">
                  <h5 class="card-title">Last year</h5>
                  <p class="card-text">Last year with only one goal in mind either Good Placement or Higher Studies or Start Up.</p>
                  <a href="{{url_for('branch_fxn',year='LY')}}" class="btn btn-dark mt-auto w-50">Select Branch</a>
                </div>
              </div>
        </div>
    </div>
</div>



{% endblock %}