{% extends "base_entry_template.html" %}
{% block title %}SignIn{% endblock %}

{% block content %}
<div class="container  d-flex justify-content-center align-items-center pt-4">
    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-light">Welcome to UniSource</h1>
        <p class="fs-5 text-light">"Your one stop destination for all study resources"</p>
        <form method="post" class="w-25">
            <div class="mb-3 ">
                <label for="studentId" class="form-label text-light">student Id</label>
                <input type="text" class="form-control" name="studentId" placeholder="enter your user ID">
            </div>
            <div class="mb-3 ">
                <label for="studentPassword" class="form-label text-light">student Password</label>
                <input type="password" class="form-control" name="studentPassword" placeholder="enter your password">
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">LOGIN</button>
                <a href="{{url_for('welcome_fxn')}}" class="btn btn-primary">BACK</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}