{% extends "base_template.html" %}

{% block content %}

    <div><h2 class="text-light heading_bg mt-4">Here's a brief overview of your Profile</h2></div>
    <div class="btn-light profile boxShadow mt-4">
        <div class="boxShadow p-2 profile_detail">
        <p class="fs-4">Your Student Id:</p>
        <p class="fs-4">{{result[0][0]}}</p>
    </div>
        <div class="boxShadow p-2 profile_detail">
        <p class="fs-4">Your Name:</p>
        <p class="fs-4">{{result[0][1]}}</p>
    </div>
        <div class="boxShadow p-2 profile_detail">
        <p class="fs-4">Your Registered Emal:</p>
        <p class="fs-4">{{result[0][2]}}</p>
    </div>
        <div class="boxShadow p-2 profile_detail">
        <p class="fs-4">Your Current Semester:</p>
        <p class="fs-4">{{result[0][4]}}</p>
    </div>
    </div>

{% endblock %}