{% extends 'base_template.html' %}
{% block title %}{{year}} Resources Available for {{dept_name}} {% endblock %} 

{% block content %}

<div class="mt-4 text-center">
    <h3 class="text-light">You are one step Closer to your Learning </h3>
    <h4 class="text-light">Please select the Resource you Want</h4>
    <div class="resources d-flex flex-column mt-4">

        <a href="{{url_for('module_fxn',year=year,dept_name=dept_name,subject_name = subject_name,resource_name = 'kjsce_notes')}}" class="btn options btn-light">KJSCE notes 📔</a>

        <a href="{{url_for('module_fxn',year=year,dept_name=dept_name,subject_name = subject_name,resource_name = 'student_notes')}}" class="btn options btn-light">Student notes 📑</a>

        <a href="{{url_for('textbook_fxn',year=year,dept_name=dept_name,subject_name = subject_name)}}" class="btn options btn-light">Textbooks 📚</a>

        <!-- <a href="" class="btn options btn-light" >Past Year Papers📜</a> -->

        <a href="{{url_for('course_fxn',year=year,dept_name=dept_name,subject_name = subject_name)}}" class="btn options btn-light" >Reference Links to Online Courses✈️</a>

        
    </div>
</div>

{% endblock %}