{% extends 'base_template.html' %}
{% block title %}{{year}} Resources Available for {{branch}} {% endblock %} 

{% block content %}

<div class="mt-4 text-center">
    <h3 class="text-light">You are one step Closer to your Learning </h3>
    <h4 class="text-light">Please select the Resource you Want</h4>
    <div class="resources d-flex flex-column mt-4">
        <a href="{{url_for('subject_fxn',type='kjsce_notes')}}" class="btn options btn-light">Offilal KJSCE notes 📔</a>
        <a href="{{url_for('subject_fxn',type='students_notes')}}" class="btn options btn-light">Students notes 📑</a>
        <a href="{{url_for('subject_fxn',type='textbooks')}}" class="btn options btn-light">Textbooks 📚</a>
        <a href="#" class="btn options btn-light" >Previous Year Papers📜</a>
    </div>
</div>

{% endblock %}