<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="container  d-flex justify-content-center align-items-center mt-4">
        <div class="w-100 containerCenterX center d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-light">Welcome to UniSource</h1>
        <p class="fs-5 text-light">"Your one stop destination for all study resources"</p>
            <form method="post" class="w-25">
                <div class="mb-3 ">
                    <label for="studentName" class="form-label text-light">NAME</label>
                    <input type="text" class="form-control" name="studentName" placeholder="enter your name">
                </div>
                <div class="mb-3 ">
                    <label for="studentEmail" class="form-label text-light">Email</label>
                    <input type="email" class="form-control" name="studentEmail" placeholder="enter your email">
                </div>
                <div class="mb-3 ">
                    <label for="studentCurrentSem" class="form-label text-light">Current Sem : </label>
                    <input type="number" class="form-control" name="studentCurrentSem" placeholder="enter your current sem">
                </div>
                <div class="mb-3 ">
                    <label for="studentId" class="form-label text-light">Student ID (upto 50 characters)</label>
                    <input type="text" class="form-control" name="studentId" placeholder="enter your student ID">
                </div>
                <div class="mb-3 ">
                    <label for="studentPassword" class="form-label text-light">Password</label>
                    <input type="password" class="form-control" name="studentPassword" placeholder="enter your password">
                </div>
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </form>
        </div>
    </div>

    <br><hr><br>
    <a href="{{url_for('welcome_fxn')}}">Press here to redirect to welcome page</a>

</body>
</html>



