{% extends "base_entry_template.html" %}
{% block title %}SignIn/Register{% endblock %}

{% block content %}
<div class="pt-5 text-center text-light">
    <h1 class="container">Welcome to UniSource</h1>
    <p class="fs-4">"Your one stop destination for all study resources"</p>
</div>
<div class="text-center text-light containerCenterAll border border-light p-5 border-4 rounded">
    <p class="fs-4 bg-dark p-1 border rounded">Are you a new to our Site? Then REGISTER NOW !!!!</p>
    <p class="fs-4 bg-dark p-1 border rounded">Or LOGIN to continue your learning journey😉</p>
    <span><a href="{{url_for('login_fxn')}}"><button type="button"
                class="btn btn-primary btn-lg fs-3">LOGIN</button></a></span>

    <span><a href="{{url_for('signup_fxn')}}"><button type="button"
                class="btn btn-success btn-lg fs-3">REGISTER</button></a></span>
</div>

{% endblock %}